*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height:5rem;
    line-height: 5rem;

}
.choice{
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top:5rem;
    margin-bottom: 5rem;
    border-radius:50%;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choice:hover{
    cursor: pointer;
   background: linear-gradient(135deg, #8b06e3, #0072ff);
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 3rem;
}

#user-score , #comp-score {
    text-decoration:none;
    font-size: 3rem;
}
.massage-container{
    margin-top: 2rem;
}
    
#msg{
    font-size:2rem ;
    background: linear-gradient(130deg, #8b06e3,#0683e3);
    color: #fff;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    
}